<div class="jumbotron">

<%= form_for @suppliermaster do |f|%>

<div class="row">
  <div class="col-sm-3">
  <div class="form-group ">
    <%= f.label :suppliername,"SupplierName",:class=>"text-primary" %>
    <%= f.text_field :suppliername,:class=>"form-control",:placeholder=>"SupplierName"%>
  </div>
  <div class="form-group ">
    <%= f.label :supplieraddress,"SupplierAddress",:class=>"text-primary" %>
    <%= f.text_field :supplieraddress,:class=>"form-control",:placeholder=>"SupplierAddress"%>
  </div>
  <div class="form-group ">
    <%= f.label :supplierfax,"supplierfax",:class=>"text-primary"%>
    <%= f.text_field :supplierfax,:class=>"form-control",:placeholder=>"SupplierFax"%>
  </div>
    <div class="form-group">
    <%= f.label :supplierphone,"SupplierPhone",:class=>"text-primary"%>
    <%= f.text_field :supplierphone,:class=>"form-control",:placeholder=>"SupplierPhone"%>
  </div>
</div>
  <div class="col-sm-3">
  <div class="form-group">
    <%= f.label :supplieremail,"SupplierEmail",:class=>"text-primary"%>
    <%= f.text_field :supplieremail,:class=>"form-control",:placeholder=>"SupplierEmail"%>
  </div>
  <div class="form-group">
    <%= f.label :suppliertin,"supplierTIN",:class=>"text-primary"%>
    <%= f.number_field :suppliertin,:class=>"form-control",:placeholder=>"supplierTIN"%>
  </div>
  <div class="form-group">
    <%= f.label :suppliercst,"supplierCST",:class=>"text-primary"%>
    <%= f.number_field :suppliercst,:class=>"form-control",:placeholder=>"supplierCST"%>
  </div>
  <div class="form-group">
    <%= f.hidden_field :companyname,:class=>"required"%>
  </div>
  <div class="form-group">

    <%= f.hidden_field :username,:class=>"required"%>
  </div>
  <div class="form-group">
    <%= f.hidden_field :year,:class=>"required"%>
  </div>

<%= f.submit class: 'btn btn-primary'%>
</div>

</div>
<% end %>

</div>
