
<!DOCTYPE html>
<html>
<head>
  <title>Invoice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="login-form">
  <h1 class="text-primary">Login</h1>
 <%= form_for(Authorizeduser.new,:url => { :action => "credential"}) do |f| %>
   <% if flash[:error] -%>
      <p class="alert alert-danger fade in"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= flash[:error]%></p>
    <% end -%>
    <% if flash[:danger] -%>
       <p class="alert alert-danger fade in"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= flash[:error]%></p>
     <% end -%>
  <div class="form-group">
    <%=f.label :companyname %><br>
    <%=f.text_field :companyname,:class => "required",:required => true,:placeholder=>"Comapany Name"%>
  </div>
  <div class="form-group">
    <%= f.label :usertype %><br>
   <%=f.select :usertype, options_from_collection_for_select(Usercreation.all,"usertype","usertype"), :prompt => "--Select UserType--" %>
  </div>
  <div class="form-group">
    <%= f.label :username %><br>
    <%= f.password_field :username,:class => "required",:required => true,:placeholder=>"User Name"%>
  </div>
  <div class="form-group">
    <%= f.label :year %><br>
    <%= f.select :year, options_from_collection_for_select(Yearcreation.all,"year","year"), :prompt => "--Select Year--" %>
  </div>
  <div class="actions">
    <%= f.submit "Login",class: 'btn btn-primary'%>
  </div>

<% end %>
</div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"></h4>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
   <div id="owl-demo">
     <div class="item"><img src="assets/1.login.png" alt="Owl Image"><p class="text-primary" data-toggle="tooltip" data-placement="top" title="Login!">Login</p></div>
     <div class="item"><img src="assets/2.Homepage.png" alt="Owl Image"><p class="text-primary"data-toggle="tooltip" data-placement="top" title="Homepage!" >Homepage</p></div>
     <div class="item"><img src="assets/3.Masters.png" alt="Owl Image"><p class="text-primary" data-toggle="tooltip" data-placement="top" title="Masters!">Masters</p></div>
     <div class="item"><img src="assets/4.purchase.png" alt="Owl Image"><p class="text-primary" data-toggle="tooltip" data-placement="top" title="Purchase!">Purchase</p></div>
     <div class="item"><img src="assets/5.sales.png" alt="Owl Image"><p class="text-primary" data-toggle="tooltip" data-placement="top" title="Sales!">Sales</p></div>
     <div class="item"><img src="assets/6.payroll.png" alt="Owl Image"><p class="text-primary" data-toggle="tooltip" data-placement="top" title="Payroll!">Payroll</p></div>
     <div class="item"><img src="assets/7.reports.png" alt="Owl Image"><p class="text-primary" data-toggle="tooltip" data-placement="top" title="Reports!">Reports</p></div>
     <div class="item"><img src="assets/8.suppliermaster.png" alt="Owl Image"><p class="text-primary" data-toggle="tooltip" data-placement="top" title="Suppliermasters!">Suppliermasters</p></div>
     <div class="item"><img src="assets/9.Productmaster.png" alt="Owl Image"><p class="text-primary" data-toggle="tooltip" data-placement="top" title="Productmaster!">Productmaster</p></div>
     <div class="item"><img src="assets/10.CustomerReport.png" alt="Owl Image"><p class="text-primary" data-toggle="tooltip" data-placement="top" title="Customerreports!">Customerreports</p></div>
     <div class="item"><img src="assets/12.supplierreport.png" alt="Owl Image"><p class="text-primary" data-toggle="tooltip" data-placement="top" title="Supplierreport!">Supplierreport</p></div>
     <div class="item"><img src="assets/13.productreport.png" alt="Owl Image"><p class="text-primary" data-toggle="tooltip" data-placement="top" title="Productreport!">Productreport</p></div>

    </div>
</div>

</body>
</html>
