<div  class="jumbotron">
<h3 class="text-primary centre">Authentication</h3>
<%= render 'form1' %>
<h3 class="text-success">AuthenticationDetails</h3>
<div class="table-responsive">
<table i class="table table-bordered table-hover sortable" >
  <thead class="bg-success">
    <tr>
      <th class="text-info">Companyname</th>
      <th class="text-info">User Type</th>
      <th class="text-info">User Name</th>
      <th class="text-info">Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authorizedusers.each do |authorizeduser| %>
      <tr>
        <td><%= authorizeduser.companyname %></td>
        <td><%= authorizeduser.usertype %></td>
        <td><%= authorizeduser.username %></td>
        <td><%= authorizeduser.year %></td>
        <td><%= link_to 'SHOW', authorizeduser,:class=>"btn btn-primary btn-sm"%></td>
        <td><%= link_to 'EDIT', edit_authorizeduser_path(authorizeduser),:class=>"btn btn-info btn-sm"%></td>
        <td><%= link_to 'DESTROY', authorizeduser, method: :delete,:class=>"btn btn-danger btn-sm",data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
