<p id="notice"><%= notice %></p>

<h1>Listing Scheduletimes</h1>

<table>
  <thead>
    <tr>
      <th>Scheduletime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scheduletimes.each do |scheduletime| %>
      <tr>
        <td><%= scheduletime.scheduletime %></td>
        <td><%= link_to 'Show', scheduletime %></td>
        <td><%= link_to 'Edit', edit_scheduletime_path(scheduletime) %></td>
        <td><%= link_to 'Destroy', scheduletime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scheduletime', new_scheduletime_path %>
